/**
	Overrides app styles
	Uses Tailwindcss: https://tailwindcss.com
	Edit global variables in tailwind.config.js to suit your needs
 */

.logo {
	.logo__color-fill {
		fill: theme('colors.black');
	}
}

.site-header .logo-wrapper a {
	max-width: 80px;

	.logo {
		width: 100%;
		height: 80px;
	}
}

// Override sharethis plugin z-index
#st-1 {
	z-index: 10 !important;
}
